.app {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #464646;
}

/* header css */

.cabecalho {
    background: #f5f5f5;
    padding: 2em 10% 0 10%;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
}

.cabecalho__lista {
    display: flex;
}

.cabecalho__link {
    font-size: 16px;
    font-weight: 700;
}

.cabecalho__link:visited , .cabecalho__sobre__link:visited {
    text-decoration: none;
    color: #464646;
}

.cabecalho__items {
    margin-left: 2rem;;
}

.cabecalho__sobre {
    display: flex;
}

.cabecalho__sobre__lista {
    display: flex;
}

.cabecalho__sobre__items {
    margin-right: 2em;
}

.cabecalho__sobre__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.cabecalho__sobre__link:after {
    content:" 	\1F865";
}

.cabecalho__sobre__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho__sobre__eu {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cabecalho__sobre__curso {
    margin-bottom: 1rem;
    font-size: 22px;
}

.cabecalho__sobre__foto {
    height: 368px;
    border-radius: 50%;
    margin: 5% 2%;
}

/* main css */

.conteudo__sobremim {
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.conteudo__sobremim__titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2%;
}

.conteudo__sobremim__texto {
    font-size: 16px;
    font-weight: 600;
    width: 60%;
}

.conteudo__skills__lista, .conteudo__hobbies__lista {
    display: flex;
    background: #F5F5F5;
    gap: 1%;
    justify-content: center;
}

.conteudo__hobbies__lista {
    padding-bottom: 10vh;
}

.conteudo__skills__titulo, .conteudo__hobbies__titulo {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding: 3%;
    background: #F5F5F5;
}

.conteudo__skills__lista__items, .conteudo__hobbies__lista__items {
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: flex-end;
    background: #FFFFFF;
}

.conteudo__skills__lista__img, .conteudo__hobbies__lista__img {
    height: auto;
    width: 50px;
}

.conteudo__skills__lista__txt, .conteudo__hobbies__lista__txt {
    font-weight: 700;
    font-size: 16px;
    margin: 5% 0;
}

.conteudo__projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    row-gap: 5vh;
}

.conteudo__projetos__titulo {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    padding: 3%;
}

.conteudo__projetos__1, .conteudo__projetos__3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.conteudo__projetos__2, .conteudo__projetos__4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.conteudo__projetos__img {
    width: 50vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.conteudo__projetos__info__btn__rep {
    width: 100px;
    height: 50px;
    border: 2px solid #2A7AE4;
    color: #2A7AE4;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.conteudo__projetos__info__btn__demo {
    width: 100px;
    height: 50px;
    border: 2px solid #2A7AE4;
    background-color: #2A7AE4;
    color: #F5F5F5;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
}

.conteudo__projetos__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    text-align: center;
    
}

.conteudo__projetos__info__titulo {
    font-size: 1.5rem;
}


@media screen and (min-width: 0) {

}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    
}

@media screen and (min-width: 1200px) {
    
}