html {
    scroll-behavior: smooth;
}

.app {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    color: #464646;
}

/* header css */

.cabecalho {
    background: #f5f5f5;
    padding: 2em 10% 0 10%;
}

.cabecalho__menu {
    display: flex;
    justify-content: space-between;
}

.cabecalho__lista {
    display: flex;
}

.cabecalho__lista p {
    margin-left: 32px;
}

.cabecalho__link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #464646;
}

.cabecalho__link:visited , .cabecalho__sobre__link:visited {
    text-decoration: none;
    color: #464646;
}

.cabecalho__items {
    margin-left: 2rem;
    color: #464646;
    font-weight: 600;
}

.cabecalho__sobre {
    display: flex;
}

.cabecalho__sobre__lista {
    display: flex;
}

.cabecalho__sobre__items {
    margin-right: 2em;
}

.cabecalho__sobre__link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.cabecalho__sobre__link:after {
    content:" 	\1F865";
}

.cabecalho__sobre__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho__sobre__eu {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.cabecalho__sobre__curso {
    margin-bottom: 1rem;
    font-size: 22px;
}

.cabecalho__sobre__foto {
    height: 368px;
    border-radius: 50%;
    margin: 5% 2%;
}

/* main css */

.conteudo__sobremim {
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    padding: 10%;
}

.conteudo__sobremim__titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 2%;
}

.conteudo__sobremim__texto {
    font-size: 16px;
    font-weight: 600;
    width: 60%;
}

.conteudo__skills__lista, .conteudo__hobbies__lista {
    display: flex;
    background: #F5F5F5;
    gap: 1%;
    justify-content: center;
}

.conteudo__hobbies__lista {
    padding-bottom: 10vh;
}

.conteudo__skills__titulo, .conteudo__hobbies__titulo {
    font-weight: 700;
    font-size: 32px;
    padding: 3%;
    background: #F5F5F5;
    text-align: center;
}

.conteudo__skills__lista__items, .conteudo__hobbies__lista__items {
    /* width: 176px;
    height: 174px; */
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: flex-end;
    background: #FFFFFF;
}

.conteudo__skills__lista__img, .conteudo__hobbies__lista__img {
    height: auto;
    width: 50px;
    margin: 5%;
}

.conteudo__skills__lista__txt, .conteudo__hobbies__lista__txt {
    font-weight: 700;
    font-size: 16px;
    margin: 5%;
}

.conteudo__formacao {
    background: #EAF2FD;
    padding-bottom: 15vh;
}

.conteudo__formacao__titulo {
    font-weight: 700;
    font-size: 32px;
    padding: 3%;
    text-align: center;
}

.conteudo__formacao__cursos {
    display: flex;
    justify-content: center;
    column-gap: 1vw;
}

.conteudo__formacao__cursos__columns__info {
    line-height: 1.5rem;
}

.conteudo__formacao__cursos__columns__info__titulo {
    font-size: 1.5rem;
    font-weight: 800;
}

.conteudo__formacao__cursos__columns__img {
    width: 192px;
    height: 180px;
    padding:  73px 88px;
    background-color: #FFFFFF;
}

.conteudo__projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    row-gap: 5vh;
    padding-bottom: 5vh;
}

.conteudo__projetos__titulo {
    font-weight: 700;
    font-size: 32px;
    padding: 3%;
}

.conteudo__projetos__1, .conteudo__projetos__3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.conteudo__projetos__2, .conteudo__projetos__4 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
}

.conteudo__projetos__img {
    width: 50vw;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.conteudo__projetos__info__btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo__projetos__info__btn__rep {
    height: 50px;
    padding: 3px 12px;
    border: 2px solid #2A7AE4;
    color: #2A7AE4;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.conteudo__projetos__info__btn__rep:hover {
    background-color: #DAE8FB;
}

.conteudo__projetos__info__btn__demo {
    height: 50px;
    padding: 3px 12px;
    border: 2px solid #2A7AE4;
    background-color: #2A7AE4;
    color: #F5F5F5;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}

.conteudo__projetos__info__btn__demo:hover {
    background-color: #5A97ED;
}

.conteudo__projetos__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: .5rem;
    text-align: center;
    width: 230px;
}

.conteudo__projetos__info__titulo {
    font-size: 1.5rem;
}

.conteudo__contato {
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    padding: 130px 152px 70px
}

.conteudo__contato__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.conteudo__contato__conteudo__titulo {
    font-weight: 700;
    font-size: 32px;
    margin: 16px;
}

.conteudo__contato__conteudo__txt {
    font-size: 18px;
    margin: 0 16px 16px;
    color: #464646;
    font-weight: 600;
}

.conteudo__contato__conteudo__form__area {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin: 16px;
    height: auto;
    width: 656px;

}

.conteudo__contato__conteudo__form__submit {
    height: 50px;
    padding: 3px 12px;
    border: 2px solid #2A7AE4;
    background-color: #2A7AE4;
    color: #F5F5F5;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    margin: 0 16px;
}

.conteudo__contato__conteudo__form__area__label {
    font-size: 12px;
    color: #A2A2A2;
    margin: 12px 8px;
}

.conteudo__contato__conteudo__form__area__input {
    outline: none;
    border: none;
    color: #464646;
    padding: 0 8px 12px;
    font-size: 16px;
    line-height: 20px;  
}

.conteudo__contato__conteudo__form__submit:disabled {
    background-color: #464646;
}

.conteudo__contato__conteudo__form__area__input:-webkit-autofill {
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.conteudo__contato__conteudo__form__area__input:-webkit-autofill {
    -webkit-text-fill-color: #464646 !important;
}

.conteudo__contato__conteudo__form__area__textArea {
    outline: none;
    border: none;
    color: #464646;
    resize: none;
    height: calc(133px - 36px);
    padding: 0 8px 12px;
    font-size: 16px;
    font: inherit;
    font-weight: 600;
}

.input__mensagem__erro {
    margin: 0 8px 8px;
}

.input__container__invalido {
    color: lightcoral;
}

.rodape {
    border-bottom: 5px solid #607ca8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
}

.rodape__feitoPor, .rodape__ano {
    font-size: 20px
}


@media screen and (min-width: 0) {
    .cabecalho__items {
        display: none;
    }

    .cabecalho {
        padding: 2em 16px;
    }

    .cabecalho__link {
        font-size: 14px;
    }

    .cabecalho__sobre__foto {
        height: 35vw;
        width: 35vw;
        order: -1;
    }

    .cabecalho__sobre__eu {
        font-size: 22px;
    }

    .cabecalho__sobre__items {
        margin-right: 0;
    }

    .cabecalho__sobre {
        flex-direction: column;
    }

    .cabecalho__sobre__lista {
        margin-bottom: 10px;
        justify-content: flex-start;
    }

    .cabecalho__sobre__curso {
        font-size: 14px;
    }

    .cabecalho__sobre__link {
        font-size: 14px;
        line-height: 16px;
    }

    .conteudo__sobremim {
        padding: 16px;
    }

    .conteudo__sobremim__texto {
        font-size: 14px;
        width: auto;
        line-height: 16.44px;
    }

    .conteudo__skills__hobbies {
        padding: 0 7vw;
        background-color: #F5F5F5;
    }

    .conteudo__skills__lista {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;
    }

    .conteudo__skills__lista__items {
        width: 40vw;
        height: 118px;
    }

    .conteudo__skills__lista__img, .conteudo__hobbies__lista__img {
        width: 32px;
    }

    .conteudo__hobbies__lista {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 32px;
    }

    .conteudo__hobbies__lista__items {
        width: 40vw;
        height: 118px;
    }

    .conteudo__skills__titulo, .conteudo__hobbies__titulo {
        padding: 16px 0 32px;
    }

    .conteudo__formacao {
        padding: 32px
    }

    .conteudo__formacao__cursos {
        flex-direction: column;
        row-gap: 16px;
        width: auto;
    }

    .conteudo__formacao__cursos__columns {
        row-gap: 8px;
    }

    .conteudo__formacao__cursos__columns__img {
        width: 30vw;
        padding: 73px 25vw;
    }

    .conteudo__projetos__1, .conteudo__projetos__2, .conteudo__projetos__3, .conteudo__projetos__4 {
        flex-direction: column;
        width: 280px;
    }

    .conteudo__projetos__img {
        width: 280px;
    }

    .conteudo__projetos__info {
        width: 280px;
    }

    .conteudo__projetos__info__titulo {
        font-size: 16px;
        margin: 16px 0 8px;
        text-align: start;
        font-weight: 600;
    }

    .conteudo__projetos__info__sobre {
        font-size: 14px;
        text-align: start;
        margin-bottom: 20px;
        font-weight: 600;
    }

    .conteudo__projetos__info__btn {
        justify-content: flex-start;
        column-gap: 16px;
    }

    .conteudo__contato {
        padding: 0;
    }

    .conteudo__contato__img {
        display: none;
    }

    .conteudo__contato__conteudo {
        width: 296;
    }

    .conteudo__contato__conteudo__form__area {
        width: auto;
    }
    
    .conteudo__contato__conteudo__form__submit {
        width: 280px;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 2em 32px;
    }

    .cabecalho__sobre {
        flex-direction: row;
    }

    .cabecalho__sobre__foto {
        order: 1;
        height: 146px;
        width: 146px;
    }

    .conteudo__sobremim {
        padding: 32px;
    }

    .conteudo__skills__titulo, .conteudo__hobbies__titulo {
        padding: 32px;
    }

    .conteudo__formacao__cursos {
        flex-direction: row;
        justify-content: space-around;
        column-gap: 0;
    }

    .conteudo__formacao__cursos__columns {
        width: 224px;
    }

    .conteudo__formacao__cursos__columns__img {
        padding: 29px 61px;
        width: calc(224px - 61px * 2);
    }

    .conteudo__formacao__cursos__columns__info__titulo {
        font-size: 16px;
    }

    .conteudo__formacao__cursos__columns__info__info {
        font-size: 14px;
    }

    .conteudo__projetos__img {
        width: 700px;
    }

    .conteudo__projetos__info {
        width: 700px;
    }

    .conteudo__contato__conteudo {
        width: 700px;

    }

    .conteudo__contato__conteudo__form__submit {
        margin-bottom: 32px;
    }
}

@media screen and (min-width: 992px) {
    .cabecalho {
        padding: 2em 152px;
    }
    
    .cabecalho__items {
        display: flex;
    }

    .cabecalho__link {
        font-size: 16px;
    }

    .cabecalho__sobre {
        margin-top: 80px;
    }
    
    .cabecalho__sobre__eu {
        font-size: 52px ;
    } 

    .cabecalho__sobre__foto {
        width: 368px;
        height: 368px;
    }

    .cabecalho__sobre__curso {
        font-size: 22px;
    }

    .cabecalho__sobre__link {
        font-size: 16px;
    }

    .conteudo__sobremim {
        padding: 64px 152px;
    }

    .conteudo__sobremim__texto {
        font-size: 16px;
    }

    .conteudo__skills__hobbies {
        padding: 0 152px;
    }

    .conteudo__skills__lista__items, .conteudo__hobbies__lista__items {
        width: 176px;
        height: 174px;
    }

    .conteudo__skills__lista, .conteudo__hobbies__lista {
        justify-content: center;
        column-gap: 8px;
        flex-wrap: nowrap;
    }

    .conteudo__formacao__cursos__columns__img {
        width: calc(300px - 88px * 2);
    }
}

@media screen and (min-width: 1200px) {
    .cabecalho__sobre__lista {
        column-gap: 32px;
    }
    
    .conteudo__formacao__cursos {
        justify-content: center;
        padding: 0 152px;
    }

    .conteudo__formacao__cursos__columns {
        width: 368px
    }
    
    .conteudo__formacao__cursos__columns__img {
        width: calc(368px - 88px * 2);
    }

    .conteudo__projetos {
        row-gap: 54px;
    }

    .conteudo__projetos__info__btn__demo, .conteudo__projetos__info__btn__rep {
        width: 100px;
    }

    .conteudo__projetos__1, .conteudo__projetos__3 {
        flex-direction: row;
    }
    
    .conteudo__projetos__2, .conteudo__projetos__4 {
        flex-direction: row-reverse;
    }

    .conteudo__projetos__1, .conteudo__projetos__2, .conteudo__projetos__3, .conteudo__projetos__4 {
        column-gap: 26px;
    }

    .conteudo__projetos__info {
        row-gap: 8px;
    }

    .conteudo__projetos__info__titulo {
        margin: 0;
        font-size: 22px;
    }

    .conteudo__projetos__info__sobre {
        margin: 0;
        font-size: 16px;
    }

    .conteudo__contato {
        padding: 130px;
        column-gap: 16px;
        height: auto;
        align-content: flex-start;
    }

    .conteudo__contato__img {
        display: flex;
        height: auto;
    }

    .conteudo__contato__conteudo__titulo, .conteudo__contato__conteudo__txt, .conteudo__contato__conteudo__form__area {
        margin: 16px 0;
    }

    .conteudo__contato__conteudo__form__submit {
        margin: 0;
    }

    .conteudo__contato__conteudo {
        row-gap: 32px;
    }
}